* {
    box-sizing: border-box;
}

#grid {
    height: 700px;
    width: 700px;
    display: grid;
    grid-gap: 1px;
}

.grid-lines {
    background-color: lightgray;
    border: 1px solid black;
}

#button-container {
    margin: 50px;
}

#clear {
    padding: 30px;
}

.change {
    background-color: black;
}

input {
    display: block;
}

